<template>
    <v-row class="px-12">
        <v-col cols="12">
            <v-card>
                <v-row>
                    <v-col cols="3">
                        <v-row no-gutters>
                            <v-col cols="12">
                                <v-card-title>
                                    <v-avatar size="130" color="eerie_black" class="ma-auto">
                                        <v-icon size="100" dark>
                                            mdi-account-circle
                                        </v-icon>
                                    </v-avatar>
                                    <div>
                                    
                                    </div>
                                </v-card-title>
                            </v-col>
                            <v-col cols="12" class="text-center">
                                <v-btn
                                class="ma-auto mt-4"
                                rounded elevation="0" color="blue_blue"
                                @click="dialog.value=true">
                                    <v-icon class="mr-2 white--text">
                                        mdi-plus
                                    </v-icon>
                                    <span class="text-none white--text">
                                        New Certificate
                                    </span>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                    
                    <v-col cols="6">
                        <v-card elevation="0">
                            <v-card-text>
                                <v-row no-gutters>
                                    <v-col cols="12">
                                        <h4>
                                            Identity
                                        </h4>
                                    </v-col>
                                    <v-col cols="2" v-for="(item, key) in user_keys" :key="key">
                                        <h6>
                                            {{ item }}
                                        </h6>
                                        <div>
                                            {{ user.info[item] }}
                                        </div>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters class="pt-5">
                                    <v-col cols="12">
                                        <h4>
                                            Location
                                        </h4>
                                    </v-col>
                                    <v-col cols="2" v-for="(item, key) in user.info.location" :key="key">
                                        <h6>
                                            {{ key }}
                                        </h6>
                                        <div>
                                            {{ item }}
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col cols="3" class="py-6">
                          <QrcodeVue :value="value" :size="size" level="H"/>
                    </v-col>
                </v-row>
            </v-card>
        </v-col>
        <v-col cols="12">
            <v-card-title class="py-8 pl-6">
                Last Certifications
            </v-card-title>
        </v-col>
        <v-col cols="12" class="mb-10">
            <v-timeline>
                <v-timeline-item
                v-for="(n, key) in validated"
                :key="key"
                large>
                    <template v-slot:icon>
                        <v-avatar class="white">
                            <v-btn fab @click="see_certifier(n.cert_id)" class="deep-orange darken-1">
                                <v-icon large class="white--text">
                                    mdi-account-circle
                                </v-icon>
                            </v-btn>
                        </v-avatar>
                    </template>
                    <template v-slot:opposite>
                        <span>{{ n.cert_name }}</span>
                    </template>
                    <v-card class="elevation-2">
                        <v-card-title class="text-h5">
                            <span>{{ n.info.name }}</span>
                            <v-icon class="green--text ml-2">
                                mdi-check-decagram
                            </v-icon>
                        </v-card-title>
                        <v-card-text>
                            {{ n.info.description }}
                        </v-card-text>
                    </v-card>
                </v-timeline-item>
            </v-timeline>
        </v-col>
        <v-col cols="12">
            <v-card>
                <v-card-title class="py-8 pl-6">
                    Diplomas
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="3" class="text-subtitle-2 pl-10">
                            Certifier
                        </v-col>
                        <v-col cols="4" class="text-subtitle-2 pl-5">
                            Cetificate Name
                        </v-col>
                        <v-col cols="3" class="text-subtitle-2">
                            Duration
                        </v-col>
                        <v-col cols="2" class="text-subtitle-2">
                            Status
                        </v-col>
                    </v-row>
                    <v-card elevation="0" style="border-radius: 50px" v-for="(item, key) in validated" :key="key" v-if="item.info.type == 'diploma'" class="mb-3 real_light_grey">
                        <v-card-text>
                            <v-row>
                                <v-col cols="3" class="text-subtitle-2 pl-6">
                                    {{ item.cert_name }}
                                </v-col>
                                <v-col cols="4">
                                    <span class="text-subtitle-2">{{ item.info.name }}</span> <br>
                                    <span>{{ item.info.description }}</span>
                                </v-col>
                                <v-col cols="3">
                                    {{ item.info.duration }}
                                </v-col>
                                <v-col cols="2" class="pl-6">
                                    {{ item.info.status }}
                                    <v-icon class="green--text">
                                        mdi-check-decagram
                                    </v-icon>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-card-text>
            </v-card>
        </v-col>
        <v-col cols="12">
            <v-card>
                <v-card-title class="py-8 pl-6">
                    Professional Contract
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="3" class="text-subtitle-2 pl-10">
                            Certifier
                        </v-col>
                        <v-col cols="4" class="text-subtitle-2 pl-5">
                            Cetificate Name
                        </v-col>
                        <v-col cols="3" class="text-subtitle-2">
                            Duration
                        </v-col>
                        <v-col cols="2" class="text-subtitle-2">
                            Status
                        </v-col>
                    </v-row>
                    <v-card elevation="0" style="border-radius: 50px" v-for="(item, key) in validated" :key="key" v-if="item.info.type == 'professional_contract'" class="mb-3 real_light_grey">
                        <v-card-text>
                            <v-row>
                                <v-col cols="3" class="text-subtitle-2 pl-6">
                                    {{ item.cert_name }}
                                </v-col>
                                <v-col cols="4">
                                    <span class="text-subtitle-2">{{ item.info.name }}</span> <br>
                                    <span>{{ item.info.description }}</span>
                                </v-col>
                                <v-col cols="3">
                                    {{ item.info.duration }}
                                </v-col>
                                <v-col cols="2" class="pl-6">
                                    {{ item.info.status }}
                                    <v-icon class="green--text">
                                        mdi-check-decagram
                                    </v-icon>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-card-text>
            </v-card>
        </v-col>
        <v-col cols="12">
            <v-card>
                <v-card-title class="py-8 pl-6">
                    Competitive Event
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="3" class="text-subtitle-2 pl-10">
                            Certifier
                        </v-col>
                        <v-col cols="4" class="text-subtitle-2 pl-5">
                            Cetificate Name
                        </v-col>
                        <v-col cols="3" class="text-subtitle-2">
                            Duration
                        </v-col>
                        <v-col cols="2" class="text-subtitle-2">
                            Status
                        </v-col>
                    </v-row>
                    <v-card elevation="0" style="border-radius: 50px" v-for="(item, key) in validated" :key="key" v-if="item.info.type == 'competitive_event'" class="mb-3 real_light_grey">
                        <v-card-text>
                            <v-row>
                                <v-col cols="3" class="text-subtitle-2 pl-6">
                                    {{ item.cert_name }}
                                </v-col>
                                <v-col cols="4">
                                    <span class="text-subtitle-2">{{ item.info.name }}</span> <br>
                                    <span>{{ item.info.description }}</span>
                                </v-col>
                                <v-col cols="3">
                                    {{ item.info.duration }}
                                </v-col>
                                <v-col cols="2" class="pl-6">
                                    {{ item.info.status }}
                                    <v-icon class="green--text">
                                        mdi-check-decagram
                                    </v-icon>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import QrcodeVue from 'qrcode.vue'

export default {
    name: "CandidateRecap",
    components: {
        QrcodeVue

    },
    data () {
        return {
            user: {},
            user_keys: ["name", "surname", "age", "birth_place"],
            validated: [],
            value: "http://localhost:8080/"+window.location.pathname,
            size: 200,
        }
    },
    created() {
        this.$store.commit("user_id", this.$route.params.id)
        const axios = require('axios');
        axios.get('http://localhost:5000/users/candidates/' + this.$store.state.user_id).then((response) => {
            this.user = response.data.data.hits.hits[0]._source;
            for (let request in this.user.requests) {
                axios.get('http://localhost:5000/requests/' + this.user.requests[request]).then((resp) => {
                    let resp_cert = resp.data.data.hits.hits[0]._source;
                    axios.get("http://localhost:5000/users/certifiers/" + resp_cert.cert_id).then((resp2) => {
                        let certs = resp2.data.data.hits.hits[0]._source
                        resp_cert["cert_name"] = certs.info.name
                        if (resp_cert.info.status == "validated") {
                            this.validated.push(resp_cert);
                        }
                    });
                })
            }
        })
        console.log(this.$store.state.user_id)
        
    },
    methods: {
        see_certifier(cert_id) {
            let routeData = this.$router.resolve({path: '/certifier/' + cert_id + "/recap"});
            window.open(routeData.href, '_blank');
        }
    }
}
</script>