<template>
<v-row class="px-10">
    <v-col cols="9">
        <h3>
            Certification requests dashboard
        </h3>
    </v-col>
    <v-col cols="3" class="text-right">
        <v-btn icon @click="$router.go();">
            <v-icon>
                mdi-reload
            </v-icon>
        </v-btn>
        <v-dialog
        transition="dialog-bottom-transition"
        max-width="600">
            <template v-slot:activator="{ on, attrs }">
                <v-btn 
                rounded elevation="0" color="deep-orange darken-1"
                v-bind="attrs"
                v-on="on"
                @click="dialog.value=true">
                    <v-icon class="mr-2 white--text">
                        mdi-plus
                    </v-icon>
                    <span class="text-none white--text">
                        New Certificate
                    </span>
                </v-btn>
            </template>
            <template v-slot:default="dialog">
            <v-card>
                <v-toolbar
                flat
                color="eerie_black"
                dark>
                    <v-icon class="white--text">
                        mdi-clipboard-text-outline
                    </v-icon>
                    <span class="ml-2 text-h6">
                        New Certificate
                    </span>
                </v-toolbar>
                <v-card-text class="mt-12 ma-1">
                    <v-row no-gutters>
                        <v-col cols="12">
                            <v-autocomplete
                                required
                                v-model="new_certificate.cert_id"
                                :items="certifiers"
                                :search-input.sync="search"
                                color="eerie_black"
                                hide-no-data
                                hide-selected
                                item-text="name"
                                item-value="value"
                                label="Entities"
                                placeholder="Start typing to Search"
                                return-object
                            ></v-autocomplete>
                        </v-col>
                        <v-col cols="12" v-for="key in show_keys" :key="key">
                            <v-text-field required :label="key" v-model="new_certificate.info[key]" >
                            </v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-select required label="type" :items="cert_type_list" v-model="new_certificate.info.type">
                            </v-select>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field required label="start" v-model="new_certificate.info.duration.start">
                            </v-text-field>
                            <v-text-field required label="end" v-model="new_certificate.info.duration.end">
                            </v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="justify-end">
                    <v-btn
                    text
                    @click="dialog.value = false">
                        <span class="text-none green--text">No</span>
                    </v-btn>
                    <v-btn
                    text
                    @click="post_request(); dialog.value = false">
                        <span class="text-none">Yes</span>
                    </v-btn>
                </v-card-actions>
            </v-card>
            </template>
        </v-dialog>
        
    </v-col>
    <v-col cols="12">
        <v-data-table
        :headers="headers"
        :items="certifications"
        :sort-by="['status']"
        :items-per-page="10"
        class="elevation-1">
            <template v-slot:item="row">
                <tr>
                    <td>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn icon small class="real_light_grey">
                                    <v-icon
                                    color="eerie_black"
                                    dark small
                                    v-bind="attrs"
                                    v-on="on"
                                    >
                                    mdi-account
                                    </v-icon>
                                </v-btn>
                            </template>
                            <span>See candidate profile</span>
                        </v-tooltip>
                        <span class="ml-2 text-subtitle-2">{{row.item.name}}</span>
                    </td>
                    <td class="text-subtitle-2">{{row.item.cert_name}}</td>
                    <td class="text-subtitle-2">
                        <v-chip
                        small
                        :color="colors[row.item.status]"
                        class="ma-2 white--text">
                            {{row.item.status}}
                        </v-chip>
                    </td>
                    <td>
                        <v-dialog
                            transition="dialog-bottom-transition"
                            max-width="600"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                rounded small
                                elevation="0"
                                v-bind="attrs"
                                v-on="on"
                                class="grey" 
                                @click="dialog.value=true">
                                    <v-icon x-small class="white--text mr-1">
                                        mdi-close
                                    </v-icon>
                                    <span class="text-none white--text mr-1">
                                        {{ (row.item.status == "validated" || row.item.status == "rejected") ? "archive" :  "cancel" }}
                                    </span>
                                </v-btn>
                            </template>
                            <template v-slot:default="dialog">
                            <v-card>
                                <v-toolbar
                                flat
                                color="eerie_black"
                                dark>
                                    <v-icon class="white--text">
                                        mdi-alert-circle
                                    </v-icon>
                                    <span class="ml-2 text-h6">
                                        Warning
                                    </span>
                                </v-toolbar>
                                <v-card-text class="mt-12 ma-1">
                                    <div>
                                        This action will cancel your request to the certifier !
                                    </div>
                                    <div>
                                        Do you want to proceed ?
                                    </div>
                                </v-card-text>
                                <v-card-actions class="justify-end">
                                    <v-btn
                                    text
                                    @click="dialog.value = false">
                                        <span class="text-none green--text">No</span>
                                    </v-btn>
                                    <v-btn
                                    text
                                    @click="delete_request(row.item.request_id); dialog.value = false">
                                        <span class="text-none">Yes</span>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                            </template>
                        </v-dialog>
                    </td>
                </tr>
            </template>
        </v-data-table>
    </v-col>

    
</v-row>
</template>

<script>
export default {
    name: "CertifierDashboard",
    data () {
        return {
            dialog: {},
            search: null,
            show_keys: ["name", "description", "mention"],
            cert_type: {
                "diploma": "",
                "competitive_event": "",
                "professional_contract": ""
            },
            cert_type_list: [
                "diploma",
                "competitive_event",
                "professional_contract",
            ],
            new_certificate: {
                "author": this.$store.state.user_id,
                "cert_id": "",
                "cand_id": this.$store.state.user_id,
                "info": {
                    "name": "",
                    "description": "",
                    "mention": "",
                    "type": "",
                    "duration": {
                        "start": "",
                        "end": ""
                    },
                    "status": "pending_review"
                }
            },
            colors: {
                "rejected": "red",
                "validated": "green",
                "pending_review": "light-blue lighten-1"
            },
            headers: [
                {
                    text: 'Certifier',
                    align: 'start',
                    sortable: false,
                    value: 'name',
                },
                { text: 'Certification Name', value: 'cert_name' },
                { text: 'Status', value: 'status' },
                { text: 'Actions', value: 'action' },
            ],
            certifications: [
                {
                    name: 'Universite Paris-Descartes',
                    cert_name: 'Master2 - Sciences economiques et sociales',
                    action: false,
                    status: "rejected"
                },
                {
                    name: 'Universite Pierre et Marice Curie',
                    cert_name: 'Stage R&D',
                    action: false,
                    status: "validated"
                }
            ],
            certifiers: []
        }
    },
    created() {
        const axios = require('axios')
        console.log("USER ID :: " +  this.$store.state.user_id)
        axios.get("http://localhost:5000/users/" + "certifiers").then((response) => {
            let certs = response.data.data[0].data.hits.hits
            for (let cert in certs) {
                let tmp = {
                    "name": certs[cert]._source.info.name,
                    "value": certs[cert]._id
                }
                this.certifiers.push(tmp);
            }
        });
        axios.get("http://localhost:5000/users/" + "candidates/" + this.$store.state.user_id ).then((response) => {
            this.requests = response.data.data.hits.hits[0]._source.requests;
            for (let key in this.requests) {
                console.log("REQUESTS " + this.requests[key])
                axios.get("http://localhost:5000/requests/" + this.requests[key]).then((resp) => {
                    let request = resp.data.data.hits.hits[0]._source;
                    axios.get("http://localhost:5000/users/certifiers/" + request.cert_id).then((resp_cert) => {
                        let cert_name = resp_cert.data.data.hits.hits[0]._source.info.name;
                        console.log(cert_name);
                        let tmp = {
                            "name": cert_name,
                            "cert_name": request.info.name,
                            "action": false,
                            "status": request.info.status,
                            "request_id": this.requests[key]
                        }
                        this.certifications.push(tmp);
                    })
                })
            }
        })

    },
    methods: {
        delete_request(request_id) {
            const axios = require('axios')
            axios.delete("http://localhost:5000/requests/" + request_id).then((response) => {
                console.log("DELETE ", response)
            })
        },
        post_request() {
            const axios = require('axios')
            this.new_certificate.cert_id = this.new_certificate.cert_id.value;
            axios.post("http://localhost:5000/requests", this.new_certificate).then((response) => {
                console.log("POST ", response);
            }).catch((error) => {
                console.log("POST ERROR ", error);
            })
        }
    }
  }
</script>