<template>
<v-row class="px-10">
    <v-col cols="12">
        <h3>
            Certification requests dashboard
            <v-btn icon x-small @click="$router.go();">
            <v-icon>
                mdi-reload
            </v-icon>
        </v-btn>
        </h3>
    </v-col>
    <v-col cols="12">
        <v-data-table
        :headers="headers"
        :items="certifications"
        :sort-by="['status']"
        :items-per-page="10"
        class="elevation-1">
            <template v-slot:item="row">
                <tr>
                    <td>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn icon small class="real_light_grey" @click="see_recap(row.item.cand_id)">
                                    <v-icon
                                    color="eerie_black"
                                    dark small
                                    v-bind="attrs"
                                    v-on="on">
                                        mdi-account
                                    </v-icon>
                                </v-btn>
                            </template>
                            <span>See candidate profile</span>
                        </v-tooltip>
                        <span class="ml-2 text-subtitle-2">
                            {{row.item.name}}
                        </span>
                    </td>
                    <td class="text-subtitle-2">
                        {{row.item.cert_name}} <br>
                        <span class="text-caption">
                            {{ row.item.desc }}
                        </span>
                    </td>
                    <td class="text-subtitle-2">
                        {{row.item.duration}}
                    </td>
                    <td class="text-subtitle-2">
                        <v-chip
                        small
                        :color="colors[row.item.status]"
                        class="ma-2 white--text">
                            {{row.item.status}}
                        </v-chip>
                    </td>
                    <td>
                        <v-dialog
                            transition="dialog-bottom-transition"
                            max-width="600">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                icon small
                                v-bind="attrs"
                                v-on="on"
                                :disabled="(row.item.status == 'validated' || row.item.status == 'rejected')"
                                :class="(row.item.status == 'validated' || row.item.status == 'rejected') ? 'real_light_grey mr-2' : 'green mr-2'"
                                @click="dialog.value=true">
                                    <v-icon class="white--text">
                                        mdi-check
                                    </v-icon>
                                </v-btn>
                            </template>
                            <template v-slot:default="dialog">
                            <v-card>
                                <v-toolbar
                                flat
                                color="eerie_black"
                                dark>
                                    <v-icon class="white--text">
                                        mdi-alert-circle
                                    </v-icon>
                                    <span class="ml-2 text-h6">
                                        Approve the certification
                                    </span>
                                </v-toolbar>
                                <v-card-text class="pt-12">
                                    <div>
                                        You are about to approve this candidate request. 
                                    </div>
                                    <div>
                                        Continue ?  
                                    </div>
                                </v-card-text>
                                <v-card-actions class="justify-end">
                                    <v-btn
                                    text
                                    @click="dialog.value = false">
                                        <span class="text-none green--text">No</span>
                                    </v-btn>
                                    <v-btn
                                    text
                                    @click="send_approval(row.item.request_id, row.item); dialog.value = false">
                                        <span class="text-none">Yes</span>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                            </template>
                        </v-dialog>

                        <v-dialog
                            transition="dialog-bottom-transition"
                            max-width="600">

                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                small icon
                                v-bind="attrs"
                                v-on="on"
                                @click="dialog_close.value=true"
                                :disabled="(row.item.status == 'validated' || row.item.status == 'rejected')"
                                :class="(row.item.status == 'validated' || row.item.status == 'rejected') ? 'real_light_grey mr-2' : 'red mr-2'">
                                    <v-icon class="white--text">
                                        mdi-close
                                    </v-icon>
                                </v-btn>
                            </template>
                            <template v-slot:default="dialog_close">
                            <v-card>
                                <v-toolbar
                                flat
                                color="eerie_black"
                                dark>
                                    <v-icon class="white--text">
                                        mdi-alert-circle
                                    </v-icon>
                                    <span class="ml-2 text-h6">
                                        Reject the certification
                                    </span>
                                </v-toolbar>
                                <v-card-text class="pt-12">
                                    <div>
                                        You are about to reject this candidate request. 
                                    </div>
                                    <div>
                                        Continue ?  
                                    </div>
                                </v-card-text>
                                <v-card-actions class="justify-end">
                                    <v-btn
                                    text
                                    @click="dialog_close.value = false">
                                        <span class="text-none green--text">No</span>
                                    </v-btn>
                                    <v-btn
                                    text
                                    @click="send_rejected(row.item.request_id); dialog_close.value = false">
                                        <span class="text-none">Yes</span>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                            </template>

                        </v-dialog>

                    </td>
                </tr>
            </template>
        </v-data-table>
    </v-col>

    
</v-row>
</template>

<script>
export default {
    name: "CertifierDashboard",
    data () {
        return {
            dialog: {},
            colors: {
                "rejected": "red",
                "validated": "green",
                "pending_review": "light-blue lighten-1"
            },
            headers: [
                {
                    text: 'Candidate',
                    align: 'start',
                    sortable: false,
                    value: 'name',
                },
                { text: 'Certification Name', value: 'cert_name' },
                { text: 'Duration', value: 'duration' },
                { text: 'Status', value: 'status' },
                { text: 'Actions', value: 'action' },
            ],
            certifications: [
                {
                    name: 'Julien Dupont',
                    cert_name: 'Master2 - Sciences economiques et sociales',
                    action: false,
                    status: "rejected",
                    duration: "2014"
                },
                {
                    name: 'Juliette Dupont',
                    cert_name: 'Stage R&D',
                    action: false,
                    status: "validated",
                    duration: "2014"
                }
            ],
        }
    },
    created() {
        const axios = require('axios')
        console.log("USER ID :: " +  this.$store.state.user_id)
        axios.get("http://localhost:5000/users/" + "candidates").then((response) => {
            let cands = response.data.data[0].data.hits.hits
            for (let cand in cands) {
                let tmp = {
                    "name": cands[cand]._source.info.name,
                    "value": cands[cand]._id,
                    "wallet_id": cands[cand]._source.wallet_id
                }
                this.candidates.push(tmp);
            }
        });
        axios.get("http://localhost:5000/users/" + "certifiers/" + this.$store.state.user_id ).then((response) => {
            this.requests = response.data.data.hits.hits[0]._source.requests;
            for (let key in this.requests) {
                console.log("REQUESTS " + this.requests[key])
                axios.get("http://localhost:5000/requests/" + this.requests[key]).then((resp) => {
                    let request = resp.data.data.hits.hits[0]._source;
                    axios.get("http://localhost:5000/users/candidates/" + request.cand_id).then((resp_cand) => {
                        let cand_name = resp_cand.data.data.hits.hits[0]._source.info.name + " " + resp_cand.data.data.hits.hits[0]._source.info.surname;
                        let tmp = {
                            "name": cand_name,
                            "cert_name": request.info.name,
                            "cand_id": request.cand_id,
                            "action": false,
                            "duration": request.info.duration,
                            "cand_wallet_id": resp_cand.data.data.hits.hits[0]._source.wallet_id,
                            "cert_wallet_id": response.data.data.hits.hits[0]._source.wallet_id,
                            "status": request.info.status,
                            "desc": request.info.description,
                            "request_id": this.requests[key]
                        }
                        this.certifications.push(tmp);
                    })
                })
            }
        })

    },
    methods: {
        send_approval(report_id, candidate) {
            const axios = require('axios')
            let payload = {
                "cand_wallet": candidate.cand_wallet_id,
                "cert_wallet": candidate.cert_wallet_id
            }
            console.log(payload)
            axios.post("http://localhost:5000/requests/" + report_id + "/" + "validated", payload).then((response) => {
                console.log("VALIDATE ", response);
                this.$router.go(this.$router.currentRoute);
            }).catch((error) => {
                console.log("ERROR", error);
            })
        },
        send_rejected(report_id) {
            const axios = require('axios')
            axios.post("http://localhost:5000/requests/" + report_id + "/" + "rejected").then((response) => {
                console.log("VALIDATE ", response);
                this.$router.go(this.$router.currentRoute);
            }).catch((error) => {
                console.log("ERROR", error);
            })
        },
        see_recap(cand_id) {
            let routeData = this.$router.resolve({path: '/candidate/' + cand_id + "/recap"});
            window.open(routeData.href, '_blank');
        }
    }
  }
</script>