<template>
    <v-row class="px-12">
        <v-col cols="12">
            <v-card>
                <v-row>
                    <v-col cols="3">
                        <v-row no-gutters>
                            <v-col cols="12">
                                <v-card-title>
                                    <v-avatar size="130" color="eerie_black" class="ma-auto">
                                        <v-icon size="100" dark>
                                            mdi-account-circle
                                        </v-icon>
                                    </v-avatar>
                                    <div>
                                    
                                    </div>
                                </v-card-title>
                            </v-col>
                            <v-col cols="12" class="text-center">
                                <v-btn
                                class="ma-auto mt-4"
                                rounded elevation="0" color="blue_blue"
                                @click="dialog.value=true">
                                    <v-icon class="mr-2 white--text">
                                        mdi-plus
                                    </v-icon>
                                    <span class="text-none white--text">
                                        New Certificate
                                    </span>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                    
                    <v-col cols="4">
                        <v-card elevation="0">
                            <v-card-text>
                                <v-row no-gutters class="mb-3">
                                    <v-col cols="12">
                                        <h4>
                                            Name
                                        </h4>
                                    </v-col>
                                    <v-col cols="12">
                                        <div>
                                            {{ user.info.name }}
                                        </div>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col cols="12">
                                        <h4>
                                            Contact
                                        </h4>
                                    </v-col>
                                    <v-col cols="4" v-for="(item, key) in user.info.contact" :key="key">
                                        <h6>
                                            {{ key }}
                                        </h6>
                                        <div>
                                            {{ item }}
                                        </div>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters class="pt-5">
                                    <v-col cols="12">
                                        <h4>
                                            Location
                                        </h4>
                                    </v-col>
                                    <v-col cols="4" v-for="(item, key) in user.info.location" :key="key">
                                        <h6>
                                            {{ key }}
                                        </h6>
                                        <div>
                                            {{ item }}
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>

                    <v-col cols="3">
                        <v-card elevation="0">
                            <v-card-text>
                                <v-row no-gutters>
                                    <v-col cols="12">
                                        <h4>
                                            Siret
                                        </h4>
                                    </v-col>
                                    <v-col cols="3">
                                        {{ user.info.admin.siret ? user.info.admin.siret : "Unknown" }}
                                    </v-col>
                                </v-row>
                                <v-row no-gutters class="pt-5">
                                    <v-col cols="12">
                                        <h4>
                                            Location
                                        </h4>
                                    </v-col>
                                    <v-col cols="3" v-for="(item, key) in user.info.location" :key="key">
                                        <h6>
                                            {{ key }}
                                        </h6>
                                        <div>
                                            {{ item }}
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
export default {
    name: "CertifierRecap",
    data () {
        return {
            user: {},
        }
    },
    created() {
        this.$store.commit("user_id", this.$route.params.id)
        const axios = require('axios');
        axios.get('http://localhost:5000/users/certifiers/' + this.$store.state.user_id).then((response) => {
            this.user = response.data.data.hits.hits[0]._source;
        })
    }
}
</script>