<template>
<div>
    <v-row class="pa-12" style="justify-content: center;" v-show="!show_connexion">
        <v-col cols="4">
            <ConnexionBlock title="Certifier" icon="mdi-file-certificate-outline" @clicked="user_type(true, false)"/>
        </v-col>
        <v-col cols="4">
            <ConnexionBlock title="Candidate" icon="mdi-book-multiple" @clicked="user_type(false, true)"/>
        </v-col>
    </v-row>
     <v-row class="pa-12" style="justify-content: center;" v-show="show_connexion">
        <v-col cols="4" class="py-12">
            <v-row no-gutters>
                <v-col cols="12">
                    <v-card color="eerie_black" dark>
                        <v-card-title style="place-content: center;">
                            Connexion
                        </v-card-title>
                        <v-card-text>
                            <v-text-field outlined placeholder="Login" v-model="login">
                                
                            </v-text-field>
                            <v-text-field outlined placeholder="Password">
                                
                            </v-text-field>
                        </v-card-text>
                        <v-card-text class="text-center">
                            <v-btn class="elevation-0 blue_blue" @click="push_dashboard()">
                                <span class="text-none white--text">
                                    Connexion
                                </span>
                            </v-btn>
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="12" class="text-center pt-5">
                    <v-btn class="elevation-0 pale_spring_bud" rounded @mouseover="btn_back_hover = true" @mouseleave="btn_back_hover = false">
                        <v-icon :class="btn_back_hover ? 'white--text pr-6' : 'white--text pr-3'" @click="show_connexion = false">
                            mdi-arrow-left-circle
                        </v-icon>
                        <span class="text-none white--text">
                            Back
                        </span>
                    </v-btn>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</div>
</template>

<script>
import ConnexionBlock from "@/components/home/ConnexionBlock.vue";

export default {
	name: 'Home',
	components: {
        ConnexionBlock
	},
	data: function () {
		return {
            login: "",
            cert_user: false,
            cand_user: false,
            show_connexion: false,
            btn_back_hover: false,
		}
  },
  methods: {
      user_type(cert_user, cand_user) {

          this.cert_user = cert_user;
          this.cand_user = cand_user;

          if (this.cert_user) {
              this.$store.state.user_type = "cert";
          } else if (this.cand_user) {
              this.$store.state.user_type = "cand";
          } else {
              this.$store.state.user_type = "";
          }

          if (this.cert_user || this.cand_user) {
              this.show_connexion = true;
          }
      },
      push_dashboard() {
          if (this.cert_user) {
                console.log(this.$store.state.cert_users[this.login], this.login)
                this.$store.commit('user_id', this.$store.state.cert_users[this.login]);
                this.$store.commit('user_type_index', "certifiers");
                this.$router.push('/certifier/dashboard');
          } else {
              this.$router.push('/candidate/dashboard');
              this.$store.commit('user_type_index', "candidates");
              this.$store.commit('user_id', '8e1833fe-70d7-4538-b855-ec029a41858b');
          } 
      }
  }
}
</script>

