<template>
    <v-row class="pa-12 pt-0">
        <v-col cols="12">
            <h3>
                Smart Contract Monitor
            </h3>
        </v-col>
        <v-col cols="12" class="pb-0">
            <v-row no-gutters>
                <v-col cols="3" class="pl-2 text-subtitle-2">
                    Name
                </v-col>
                <v-col cols="3" class="pl-2 text-subtitle-2">
                    Theme
                </v-col>
                <v-col cols="3" class="text-subtitle-2">
                    Smart Contract Type
                </v-col>
                <v-col cols="3" class="text-subtitle-2">
                    Status
                </v-col>
            </v-row>
        </v-col>
        <v-col cols="12" v-for="(item, key) in sc" :key="key">
            <v-card hover>
                <v-card-text>
                    <v-row no-gutters>
                        <v-col cols="3" class="align-self-center">
                            <v-chip color="deep-orange lighten-5">
                                <h4 class="pr-3">
                                    <v-icon class="mr-3 deep-orange--text">
                                        {{ item.icon }}
                                    </v-icon>
                                    <span>
                                        {{ item.name }}
                                    </span>
                                </h4>
                            </v-chip>
                        </v-col>
                        <v-col cols="3" class="text-subtitle-2 align-self-center">
                            {{ item.theme }}
                        </v-col>
                        <v-col cols="3" class="text-subtitle-2 align-self-center">
                            {{ item.type }}
                        </v-col>
                        <v-col cols="3" class="align-self-center">
                            <v-switch
                            small
                            @click="push_new_tab(item)"
                            v-model="item.active"
                            :label="item.active ? 'active' : 'inactive'"
                            :color="item.active ? 'green' : 'grey'"
                            ></v-switch>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
export default {
    name: "Settings",
    data () {
        return {
            sc: [
                {
                    "id": 0,
                    "theme": "curriculum vitae",
                    "name": "Curriculum",
                    "type": "third party",
                    "component_name": "CandidateRecap",
                    "icon": "mdi-account-star",
                    "active": true
                },
                {
                    "id": 1,
                    "theme": "notarial",
                    "name": "Notary",
                    "type": "bilateral",
                    "component_name": "NotaryRecap",
                    "icon": "mdi-home-outline",
                    "active": false
                },
                {
                    "id": 2,
                    "theme": "ticketing",
                    "name": "Ticketing",
                    "type": "third party",
                    "component_name": "TicketingRecap",
                    "icon": "mdi-ticket",
                    "active": false
                },
                {
                    "id": 3,
                    "theme": "loaning",
                    "name": "Loaning",
                    "type": "bilateral",
                    "component_name": "LoaningRecap",
                    "icon": "mdi-cash-multiple",
                    "active": false
                }
            ]
        }
    },
    created() {
        console.log("SETTINGS")
    },
    methods: {
        push_new_tab(item) {
            this.$store.commit("handle_status", item);
        }
    }
}
</script>
