<template>
  <div>
    <!-- <Header/> -->
	<v-row class="pa-3">
		<v-col cols="6" v-for="(item, key) in items" :key=key>
			<v-card class="templates eerie_black" flat>
				<v-card-title>
					<v-row no-gutters>
						<v-col cols="12">
							<h4 class="champagne--text">{{ key + 1 }} {{ item.name }}</h4>
						</v-col>
						<v-col cols="12">
							<v-subheader class="champagne--text pl-1">
								<h4 class="champagne--text pr-5">
									id:
								</h4>
								{{ item.id }}
							</v-subheader>
						</v-col>
					</v-row>
				</v-card-title>
				<v-row>
					<v-col cols="12">
						<h4 class="pl-5 pale_spring_bud--text">Tags</h4>
						<v-card v-for="(tag, key1) in item.tags" :key="key1" class="mb-2 ma-3 pb-5 pale_spring_bud">
							<h6 class="pl-5 pt-5">
								{{ key1 + 1 }}
							</h6>
							<v-card-text v-for="(exp, key2) in tag" :key="key2" class="py-0 px-5">
								<span>
									{{ key2 }}
								</span>
								<h6>
									{{ exp }}
								</h6>
							</v-card-text>
						</v-card>
					</v-col>
					<v-col cols="12">
						<h4 class="pl-5 deep_champagne--text">Blockchains</h4>
						<v-card v-for="(bc, key1) in item.blockchains" :key="key1" class="mb-2 ma-3 deep_champagne">
							<v-card-title>
								{{ key1 + 1 }}
							</v-card-title>
							<v-card-text v-for="(exp, key2) in bc" :key="key2" class="py-0 px-5">
								<h6>
									{{ exp }}
								</h6>
								<span>
									{{ key2 }}
								</span>
							</v-card-text>
						</v-card>
					</v-col>
				</v-row>
			</v-card>
		</v-col>
	</v-row>
  </div>
</template>

<script>
// import Header from '@/components/Header.vue';

export default {
	name: 'Test',
	components: {
		// Header
	},
	data: function () {
		return {
			items: []
		}
  },
  created() {
    const axios = require('axios')
    const starton = axios.create({
      baseURL: 'https://api-connect.starton.io/v1',
      headers: {
        'x-api-key': 'pk_e95b2550f87e44cfabb80fc7a0074fb6',
      },
    })
    starton.get('/smart-contract/' + 'sc_2e601625aa2947b0a7dc2ead5ecb57cc', {
    }).then(response => {
		console.log(response.data)
		// this.items = response.data["items"]
		// starton.post('/smart-contract/from-template', {
		// 	"networkId": "ETHEREUM_ROPSTEN",
		// 	"templateId": "sct_e851adefe4494fc991207b2c37ed8a83",
		// 	"name": "DemoTokens",
		// 	"description": "Our own crypto token.",
		// 	"params": ["1000000", "DemoToken", "DEMO"]
		// }).then(response => {
		// 	console.log(response.data)
		// }).catch(error => {
		// 	console.log("ERROR ", error)
		// })
		// starton.get("/blockchain/"+"ETHEREUM").then((resp) => {
		// 	console.log(resp.data)
		// })
    })
	starton.get('/template/' +"sct_82bde80651bd40cca12f044cb80821bc").then(response => {
		console.log(response.data)
	})
	/*

const axios = require("axios")

const http = axios.create({
    baseURL: "https://api-connect.starton.io/v1",
    headers: {
        "x-api-key": 'pk_e95b2550f87e44cfabb80fc7a0074fb6',
    },
})
http.post( '/smart-contract/from-template',
 {
        "networkId": 'ETHEREUM_ROPSTEN',
        "name": 'Test2',
        "templateId": 'sct_82bde80651bd40cca12f044cb80821bc',
        "params": [
            'Test2',
            'ETH',
            1000000000000000000
        ]

 }).then(response => { console.log(response.data) })
 */
  }
}
</script>
