<template>
    <v-row class="pl-12 mt-12">
        <v-col cols="6">
            <v-card elevation="0" class="py-12 pl-8">
                <v-card-title>
                    <v-icon class="blue_blue--text mr-3">
                        mdi-wallet-outline
                    </v-icon>
                    <span>
                        Your Wallet ID
                    </span>
                </v-card-title>
                <v-card-text>
                    <v-chip color="real_light_grey">
                        {{ wallet_id }}
                    </v-chip>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
export default {
  name: 'WalletID',
  props: {
  },
  data() {
    return {
        wallet_id: ""
    }
  },
  created() {
      const axios = require('axios')
      let user_type = this.$store.state.user_type_index;
      axios.get("http://localhost:5000/users/" + user_type + "/" + this.$store.state.user_id ).then((response) => {
            this.wallet_id = response.data.data.hits.hits[0]._source.wallet_id;
      })
  }
}
</script>