<template>
<div>
  <v-navigation-drawer
  v-model="drawer"
  absolute
  bottom
  temporary>
      <h4 class="mt-8 ml-2 mb-5">
        Block<span class="blue_blue--text">Skills</span>
      </h4>
      <v-list
      nav dense>
        <v-list-item-group
        v-model="group"
        active-class="pale_spring_bud">
          <h6>
            <v-icon x-small class="eerie_black--text">
              mdi-home
            </v-icon>
            Home
          </h6>
          <v-list-item  class="mb-2" @click="$router.push({ name: 'CandidateDashboard', params: { id: $store.state.user_id } })">
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item>
          <h6>
            <v-icon x-small class="eerie_black--text">
              mdi-text-box-check
            </v-icon>
            Your Documents
          </h6>
          <v-list-item v-for="(item, key) in $store.state.tabs" :key="key" v-show="item.active" @click="$router.push({ name: item.component_name, params: { id: $store.state.user_id } })">
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item>
          <v-divider/>
          <h6 class="mt-6 mb-2">
            <v-icon x-small class="eerie_black--text">
              mdi-cog
            </v-icon>
            Settings
          </h6>
          <v-list-item @click="$router.push({ name: 'Settings', params: { id: $store.state.user_id } })">
            <v-list-item-title>Smart Contract Monitor</v-list-item-title>
          </v-list-item>
          <v-list-item @click="$router.push({ name: 'WalletID', params: { id: $store.state.user_id } })">
            <v-list-item-title>Your Wallet ID</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  <v-card
    v-if="$route.path !== '/'"
    flat
    height="150px"
    tile
    color="real_light_grey">
    <v-toolbar color="eerie_black">
        <v-app-bar-nav-icon class="white--text" @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title class="white--text" @click="$router.push('/')">Block<span class="blue_blue--text">Skills</span></v-toolbar-title>

        <v-spacer/>

        <v-btn icon @click="$router.push('/settings')">
          <v-icon class="white--text">
            mdi-cog
          </v-icon>
        </v-btn>
    </v-toolbar>

  </v-card>
  <v-card
    v-else
    flat
    height="200px"
    tile
    color="eerie_black">
      <v-card-title class="white--text pt-12" style="place-content: center !important;">
        <h1 class="pt-12">Block<span class="blue_blue--text">Skills</span></h1>
      </v-card-title>
  </v-card>
</div>
</template>

<script>
export default {
  name: 'Header',
  props: {
    msg: String
  },
  data() {
    return {
      group: [],
      drawer: false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
