<template>
  <v-app class="real_light_grey">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <Header/>
    <v-main class="real_light_grey">
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import Header from "@/components/Header.vue"

export default {
  name: 'App',
  components: {
    Header
  },
  data: () => ({
    //
  }),
};
</script>
