<template>
    <v-row class="connexion-block">
        <v-col cols="12">
            <v-card style="height: 100%" hover class="eerie_black">
                <v-card-title style="place-content: center; height: 80%" class="white--text">
                    <v-row>
                        <v-col cols="12" class="text-center">
                            <v-icon size="100" class="white--text">
                                {{ icon }}
                            </v-icon>
                        </v-col>
                        <v-col cols="12" class="text-center">
                            <h4>{{ title }}</h4>
                        </v-col>
                    </v-row>
                </v-card-title>
                <v-card-text class="text-center">
                    <v-btn class="elevation-0 blue_blue darken-1" @click="$emit('clicked')">
                        <span class="text-none white--text">
                            Connexion
                        </span>
                    </v-btn>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
export default {
	name: 'ProBlock',
    props: {
        "title": {},
        "icon": {}
    },
	components: {
	},
	data: function () {
		return {
			items: []
		}
  },
  created() {
  }
}
</script>

<style>
.connexion-block {
    min-height: 60vh !important;
}
</style>
